@media only screen and (min-width:700px){
	.my_login_container{
		width:602px;
	}
}

@media only screen and (max-width:600px) and (min-width:451px){
	.my_login_container{
		width:430px;
	}
	.form-group input {
		margin-left: 53px;
	}
	
	.btn-default{
		margin-left: 53px;
	}
	
	.btn-default:hover{
		margin-left: 53px;
	}
}

@media only screen and (max-width:450px) and (min-width:361px){
	.my_login_container{
		width:350px;
	}
	.form-group input {
		margin-left: 47px;
	}
	
	.btn-default{
		margin-left: 47px;
	}
	
	.btn-default:hover{
		margin-left: 47px;
	}
}

@media only screen and (max-width:360px) and (min-width:320px){
	.container {
		margin-top:15px;
	}
	.my_login_container{
		width:300px;
	}
	.form-group input {
		width: 83%;
		margin-left: 30px;
		height:50px;
	}
	.btn-default{
		width: 83%;
		margin-left: 30px;
		height:50px;
		padding-top:0;
	}
	
	.btn-default:hover{
		width: 83%;
		margin-left: 30px;
		height:50px;
		padding-top:0;
	}
}