*{
	margin:0;
	padding:0;
}

.clear{
	clear:both;
}

body{
	background-image:url(img/body-bg.jpg);
	background-size:cover;
	background-position:fixed;
	
}

.container{
	background-image:url(img/container-bg.png);
	background-size:cover;
	background-position:fixed;
	margin-top:75px;
	height:450px;
}

.login-header h1{
	margin-top:70px;
	font-size:36px;
	color:#fff;
}

.form-group input {
	margin-top: 10px;
	width: 74%;
	margin-left: 80px;
	height: 64px;
	background-image: url(img/input-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

.login-form .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
	font-size:25px;
	padding-top:5px;
}
.login-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   font-size:25px;
}
.login-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   font-size:25px;
}
.login-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   font-size:25px;
}
.login-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
   font-size:25px;
}

.btn-default{
	width: 74%;
    background-color: #699e55;
    border-color: #000;
    height: 60px;
    margin-left: 80px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
	margin-top:15px;
}

.btn-default:hover{
	width: 74%;
    background-color: #699e55;
    border-color: #000;
    height: 60px;
    margin-left: 80px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
	margin-top:15px;
}